header{
    background-color: rgb(255, 255, 255);
    display: inline;
}
@font-face {
    font-family: Roboto-Light;
    src: url(Resources/Fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(Resources/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
h1::first-letter{
    font-size: 2.5em;
    font-style: italic;
}
h1{
    font-family: verdana, arial;
    font-size: 2.5em;
    border: solid 3px hsl(291, 88%, 45%);
    /* border-style: solid;
    border-width: 3px;
    border-color: hsl(291, 88%, 45%); */
    border-radius: 20px;
    text-shadow: 3px 3px 25px hsl(0, 100%, 50%), -3px -3px 25px hsl(193, 100%, 50%);
    /* background: linear-gradient(to right ,#FFFFFF ,#6284FF ); */
    color: dimgray;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, 
        from(rgb(92, 194, 41)), color-stop(20%, rgb(196, 26, 3)), 
        color-stop(40%, rgb(236, 190, 6)), 
        color-stop(60%, rgb(25, 192, 89)), 
        color-stop(80%, rgb(3, 116, 8)),
        to(rgb(196, 26, 3)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 3s ease-out;
    text-align: center;
    /* transition-duration: 3s; */
}
h1:hover{
    background: linear-gradient(to left ,#2354FF ,#e8ff54 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 3s;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
body{
    border: 3px solid;
    display: flow-root;
    background: url('Resources/Pics/CodingWallpaper.png');
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: cover;
    font-family: Roboto-Light, Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    background-color: rgb(255, 252, 91);
    height: 100vh;
    width: auto;
    height: auto;
    display: inline-block;
    justify-content: space-between;
    border: 5px solid black;
    text-align: center;
    line-height: 100px;
    padding: 10px;
}
#container{
    border: 5px solid black; 
}
#container p{ /* Combinators: #container < p, #container ~ p, #container + p */ 
    background-color: darkorchid;
    color: aliceblue;
}
*{
    box-sizing: border-box;
}
.box{
    border: 5px solid black;
    font-size: 5em;
    width: auto;
    height: auto;
    padding: 25px;
    float: left;
    text-align: center;
    max-width: 300px;
}
#box1{
    border: 10px solid black;
    height: auto;
    width: auto;
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: inline;
}
#box2{
    background-color: hsl(0, 100%, 50%);
    border: 10px solid black;
    height: auto;
    width: auto;
}
#box3{
    background-color: hsl(181, 100%, 50%);
    border: 10px solid black;
    height: auto;
    width: auto;
}
#box4{
    border: 2px solid;
    overflow: auto;
    height: auto;
    width: auto;
    background-color: initial;
    color: initial;
}
#box5{
    border: 2px solid;
    overflow: auto;
    height: 100px;
    width: 100px;
    background-color: initial;
    color: initial;
}
#box6{
    border: 2px solid black;
    height: auto;
    width: auto;
    background-color: initial;
    color: initial;
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}
#img3{
    width: 50px;
    mask-size: auto;
}
p{
    font-family: OpenSans, "lucid console", "Courier New";
    font-size: 1em;
    font-weight: normal; /* Bold */
    font-style: normal; /* Italic */
    border-top: rgb(255, 255, 0);
    border-bottom: rgb(255, 0, 0);
    margin-bottom: 20px;
}
p::selection{
    color: white;
    background-color: black;
}
#p1{
    color: tomato;
}
#p2{
    color: rgb(102,222,255);
}
.odd{
    background-color: rgb(20, 47, 220);
}
.even{
    color: rgba(107, 6, 6, 0.632);
}
#ul1{
    list-style-type: circle;
    display: inline-block;
    border: 5px solid black;
    background-color: rgb(98, 98, 98);
}
#ul1::first-line{
    background-color: burlywood;
}
#ul1 li:nth-child(even):hover{
    background-color: cornflowerblue;
}
#ul1 li:hover{
    background-color: rgb(241, 238, 44);
}
#ul1 li:not(:hover){
    background-color: rgb(98, 98, 98);
}
#ul2{
    list-style-type: disc;
}
#ul3{
    list-style-type: square;
}
#ul3::marker{
    content: "-->";
    color: lawngreen;
    font-size: 1.2em;
}
#ul3 li{
    list-style-type: square;
    color: blue;
    font-size: 16px;
}
#ul3 li::before{
    content: "<-";
}
#ul3 li::after{
    content: "->";
}
#ul3 ul li{
    color: green;
    font-style: italic;
}
#ul3 ul li::before{
    content: "<-";
}
#ul3 ul li::after{
    content: "->";
}
ol{
    padding: 0px;
}
fieldset{
    border: 2px solid gray; padding: 10px; border-radius: 5px; display: inline-block;
}
legend{
    font-weight: bold; font-size: 18px; color: black;
}
table{
    background-color: blanchedalmond; width: auto;
}
span{
    background-color: tomato;
    color: black;
}
div{
    background-color: black;
    color: tomato;
    display: inline-block;
    width: 100px;
    height: 100px;
}
button{
    font-size: 20px;
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
button:hover{
    font-size: 20px;
    background-color: darkcyan; 
    color: firebrick;
    border-radius: 10px;
}
button:active{
    font-size: 30px;
    background-color: darkcyan; 
    color: rgb(122, 94, 176);
    border-radius: 10px;
}
#button{
    background-color: initial;
    display: inline-block;
}
#button p{
    background-color: mediumaquamarine;
    padding: 10px;
    display: none;
}
#button:hover p{
    display: block;
}
a{
    color: hsl(230, 86%, 45%);
}
a:link{
    color: hsl(221, 100%, 74%);
}
a:hover{
    color: hsl(221, 100%, 86%);
    font-size: 1.1em;
}
a:active{
    color: hsl(240, 100%, 58%);
    font-size: 1.1em;
}
a:visited{
    color: hsl(0, 0%, 75%);
}
#pagination{
    color: initial;
    background-color: initial;
    height: auto;
    width: auto;
    border: 5px solid black;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(102, 100%, 70%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover(.active){
    background-color: hsl(102, 100%, 70%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: hsl(0,0%,60%);
    font-weight: bold;
    border-radius: 5px;
}
footer{
    background-color: beige;
    display: inline-block; /* Ensures footer only occupies space required by text */
    padding: 10px; /* Adds some padding to the footer for spacing */
}
.dropdown{
    background-color: rgb(124, 117, 108);
    color: white;
    padding: 10px 15px;
}
.Content{
    background-color: cadetblue;
    color: wheat;
    display: inline;
    padding: 10px 15px;
    border: 2px solid black;
}
.Content .dropdown{
    position: absolute;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%,0.8);
}
.Content:hover{
    background-color: rgb(240, 240, 240);
    color:rgb(0, 0, 0);
}
